
@{
    ViewBag.Title = "Index";
}

<h2>Lookup One Record</h2>

<div class="row">

    @using (Html.BeginForm("UpdateInformation", "Update", FormMethod.Post))
    {
        <p> Product Code @Html.TextBox("productCode") <br />
        <input type="submit" value="Search" />
        </p>
    }

</div>

